<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site Collection</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head> 

<body>

    <%- include('partials/navbar', { page: "/sites" }) %>

    <div class="container mt-4">
        <h1 class="text-center">Site Collection</h1>

        <div class="text-center mb-4">
            <a href="/sites?region=Atlantic region" role="button" class="btn">Atlantic Region</a>
            <a href="/sites?region=Central Canada" class="btn btn-outline btn-primary">Central Canada</a>
            <a href="/sites?region=Prairie Provinces" class="btn btn-outline btn-secondary">Prairie Provinces</a>
            <a href="/sites?region=West Coast" class="btn btn-outline btn-primary">West Coast</a>
            <a href="/sites?region=North" class="btn btn-outline btn-accent">North</a>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Site Name</th>
                    <th>Date</th>
                    <th>Designated</th>
                    <th>Location</th>
                    <th>Region</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <% sites.forEach(site => { %>
                    <tr>
                        <td><img src="<%= site.image %>" alt="<%= site.name %>" style="height: 100px;"></td>
                        <td><%= site.name %></td>
                        <td>Date: <%= site.date %> (<%= site.dateType %>)<br>Designated: <%= site.designated %></td>
                        <td>
                            <%= site.location %>, 
                            <% if (site.ProvinceOrTerritory) { %>
                                <%= site.ProvinceOrTerritory.name %>
                            <% } else { %>
                                <em>Unknown</em>
                            <% } %>
                        </td>
                        <td>
                            <% if (site.ProvinceOrTerritory) { %>
                                <a href="/sites?region=<%= site.ProvinceOrTerritory.region %>" class="btn btn-secondary m-1">
                                    <%= site.ProvinceOrTerritory.name %>
                                </a>
                            <% } else { %>
                                <em>No region</em>
                            <% } %>
                        </td>
                        <td><a href="/sites/<%= site.siteId %>" class="btn btn-info m-1">Details</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table> 
        
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
